*
{
    font-family: 'Roboto', sans-serif;
}

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header 
{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content
{
    flex: 1;
}

.footer
{
    height: 72px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer, .hero
{
    background-color: #1F2937;
}

.hero
{
    padding: 128px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-image
{
    flex: 0 0 500px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.headline
{
    flex: 0 1 450px;
}

.header-logo
{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.info-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    margin-bottom: 50px;
}

.info-section
{
    padding: 64px 0 128px 0;
}

.info-section ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.info-section li
{
    width: 150px;
    text-align: center;
}

.info-content
{
    flex: 0 0 150px;
    height: 150px;
    border-style: solid;
    border-color: cadetblue;
    border-radius: 16px;
    margin-bottom: 8px;
}

.header-links
{
    display: flex;
    gap: 40px;
}

.header-links a, .subheading
{
    font-size: 18px;
    color: #E5E7EB;
}

.heading
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.subheading
{
    margin: 8px 0;
}

button
{
    padding: 10px 40px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

.hero-sign-up
{
    border: none;
}

.quote-section
{
    padding: 124px 25%;
    background-color: #E5E7EB;
}

.quote-text
{
    font-size: 36px;
    font-style: oblique 20deg;
    color: #1F2937;
}

.quote-author
{
    color: #1F2937;
    font-weight: bold;
    text-align: right;
}

.CTA-section
{
    padding: 124px 20%;
}

.CTA-box
{
    background-color: #3882F6;
    padding: 48px 96px;
    display: flex;
    justify-content: space-between;
}

.CTA-maintext
{
    font-size: larger;
    color: white;
    font-weight: bold;
}

.CTA-subtext
{
    color: white;
}

.CTA-sign-up
{
    border: solid;
    border-color: white;
}